html {
  padding:0;
  margin:0;
}

body {
  margin:2rem;
  text-align: center;
}

p {
  font-size: 22px;
}

.yin {
  background-color: black;
  color:white;
}

.yang{
  background-color: white;
  color:black;
}

.rightSide {
  float:inline-end;
}

.leftSide {
  float:inline-start;
}

.centerMe p {
  text-align: center;
}

.text p{
  text-align: justify;
  font-size:22px;
  display: block;
  margin:5rem;
  padding:5%;
}

.rightSide {
  display: block;
  padding:1%;
}

.leftSide {
  display: block;
}

.leftSide h3{
  text-align: left;
}

.leftSide p{
  font-size:14px;
  text-align: left;
  flex-direction: row;
}

.leftSide a{
  background-color: black;
  text-decoration: none;
  font-size: 12px;
  color:white;
}

.rightSide h3{
  text-align: right;
}

.rightSide p{
  font-size:14px;
  text-align: right;
}

.rightSide a{
  background-color: white;
  text-decoration: none;
  color:black;
  font-size: 12px;
}

footer {
  text-align: center;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  position:fixed;
}

footer a {
  font-size: 20px;
  color:blue;
  background-color: white;
}

a {
  background-color: black;
  color:white;
  text-decoration: none;
  font-size: 42px;
}
